@import "./globals";

.landing {
  background: url("./assets/imgs/showcase.jpg") no-repeat center center/cover;

  .landing-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 80%;
    width: 80%;
    margin: auto;
    color: $text-color-white;
  }

  .dark-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: "absolute";
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }

  .title {
    font-size: 200px;
  }

  .phrase {
    font-size: $subhero-size;
    font-family: $primary-font;
    color: $text-color-white;
    letter-spacing: 2px;
    line-height: 1.35;
  }
}

@media (max-width: 768px) {
  .landing {
    .landing-inner {
      height: 100%;
    }

    .title {
      font-size: 120px;
      margin-bottom: 1rem;
    }

    .phrase {
      font-size: $header-size;
      line-height: 1.35;
    }
  }
}